<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Marina's super-dupper fast parcel shipping!</title>
  </head>
    <body>
    <h1>Marina's super-dupper fast parcel shipping!</h1>

    <form action="/parcels" method="post">

      <label for="description">Add Shippment</label>
      <input id="description" name="description" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
